// 字体
@import './font/font-style.styl'

// 首页
@import './index.styl'

// 文章
@import './post.styl'

// 模板
@import './_partial/sidebar.styl'


// 全局

html,body
    padding 0
    margin 0

main
    width: 90%
    max-width: 760px
    margin: auto



