@import './post/article.styl'
@import './post/code.styl'

article
    position relative
    margin: auto
    padding: 50px 10px
    .toc-article-container
        position absolute
        top 0
        left 100%
    .article-ft
        text-align: right
        .last-update
            color: silver
            font-size: 0.8em