article
    h1,h2,h3,h4,h5,h6,em,strong
        margin: 20px 0
    img
        max-width 100%
        margin: 20px 0
    iframe
        margin 10px -10px
    blockquote
        padding: 1.25rem
        margin: 1.25rem -10px
        border: 1px solid #eee
        border-left-width: .25rem
        border-radius: .25rem
        border-left-color: #f0ad4e
        font-size: 1em
        p:last-child
            margin-bottom: 0
