
.toc-page
    min-height: 100%
    padding: 10px
    padding-bottom: 50px
    border-width: 4px  
    border-color: rgba(0,0,0,.1)
    border-style:  none double none none 
    box-sizing: border-box
    width 200px
    ul
        list-style: none
        padding-left: 10px
        li
            line-height: 30px
            .label
                color #000
                cursor: default
            a
                color #555
                text-decoration none
                &:hover
                    color #999
                &.current
                    color #999

.toc-page-hd
    text-align: center
    a
        line-height: 40px
        color silver 
        font-size: 20px
        text-decoration: none
        &:hover
            color: #999

